.resources .reviews_awards h2, .resources .reviews_awards .overview h2{
	color: #456584; 
	text-transform: uppercase;
	font-size: 12px;
	font-weight:bold;
}

.financial_tools .form label,
.research .form label,
#saveCreationModal label,
#retrieveCreationModal label{
	color: #5d5d5d; 
	text-transform: uppercase; 
	font-size: 11px; 
	font-weight:bold;
}
.financial_tools #bodyContent h3,
.schedule_test_drive #bodyContent h3{
	color: #555555; 
	text-transform: uppercase; 
	font-size: 16px;
	font-weight:normal;
}
.utility_page #bodyContent h2, 
.financial_tools #bodyContent h2, 
.contact_page #bodyContent h2, 
.sitemap h3, 
.schedule_test_drive #bodyContent h2{
	color: #4C647E; 
	text-transform: uppercase; 
	font-size: 16px;
	font-weight:normal;
}
.search_result h3{
	color: #4C647E; 
	text-transform: uppercase; 
	font-size: 15px;
	font-weight:bold;
}
.search_result h3 .subhead{
	color: #4C647E;
}
.search_bar .searchCount{
	color: #808080; 
	text-transform: uppercase; 
	font-size: 12px;
	font-weight:bold;
}
#search_articles .search_header a{
	color:#4C647E; 
	font-size:16px; 
	text-decoration:none; 
	cursor:pointer;
	text-transform: uppercase; 
	font-weight:bold;
}
.search_result h2{
	color:#303030; 
	font-size:20px;
	text-transform: uppercase; 
	font-weight:bold;
}
.search_result h2 .subhead{
	color: #4C647E; 
}
.about_news h2{
	color:#403f3c; 
	font-size:18px;
	text-transform: uppercase; 
	font-weight:bold;
}
.about_overview .content_block h4{
	color:#555555; 
	font-size:13px;
	text-transform: uppercase;
	font-weight:normal; 
	
}
#saveCreationModal h3{
	color: #636363;
	text-transform: uppercase; 
	font-size: 12px;
	font-weight:normal;
}
#saveCreationModal h2, #retrieveCreationModal h2{
	color: #4c647e; 
	text-transform: uppercase; 
	font-size: 18px;
	font-weight:bold;
}
.about_overview .content_block h3{
	color:#4c647e; 
	font-size:18px;
	text-transform: uppercase; 
	font-weight:normal;
}
#vehicleDetails .model_name{
	color:#555555; 
	font-size:20px;
	text-transform: uppercase; 
	font-weight:bold;
}
.about_overview .block_tl .time{
	color:#707070; 
	font-size: 11px;
	text-transform: uppercase; 
	font-weight:bold;
}
.about_overview .block_tl h5{
	color:#4c647e; 
	font-size:13px;
	text-transform: uppercase; 
	font-weight:normal;
}
.about_overview .block_tl h5 a:link, .about_overview .block_tl h5 a:visited, .about_overview .block_tl h5 a:active{
	color: #4c647e; 
	text-decoration: none;
}
.about_overview .block_tl h5 a:hover{
	color: #618EC2;	
}
.about_overview .block_tl h4{
	color:#4c647e; 
	font-size:16px;
	text-transform: uppercase; 
	font-weight:normal;
}	
.about_overview .block_tl h4 a:link, .about_overview .block_tl h4 a:visited, .about_overview .block_tl h4 a:active{
	color':#4c647e;
	text-decoration:none;
}
.about_overview .block_tl h4 a:hover{
	color':#618EC2;	
}
.about_overview .masthead h2{
	color:#FFFFFF; 
	font-size:24px;
	text-transform: uppercase; 
	font-weight:bold;
}
.financial_tools .grid_block h2{
	color:#4C647E; 
	font-size:20px;
	text-transform: uppercase; 
	font-weight:bold;
}
.financial_tools .grid_block h2 .subhead{
	color:#4C647E; 	
}
.banner_heading p{
	color:#727272; 
	font-size:21px;
	text-transform: uppercase; 
	font-weight:bold;
}
#specsCarTrims h2{
	color:#626262; 
	text-transform:none; 
	font-size:21px;
	text-transform: uppercase; 
	font-weight:bold;
}
h1 .page_section{
	color:#375c7e;
	font-size:21px;
	text-transform: uppercase; 
	font-weight:bold;	
}
/*
     FILE ARCHIVED ON 00:16:17 Mar 07, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:02:56 Oct 09, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.575
  exclusion.robots: 0.021
  exclusion.robots.policy: 0.01
  esindex: 0.013
  cdx.remote: 9.826
  LoadShardBlock: 111.6 (3)
  PetaboxLoader3.datanode: 111.501 (5)
  PetaboxLoader3.resolve: 183.575 (3)
  load_resource: 207.721 (2)
*/